table img{
  height: 100px;

}
table td{
  width:20%;
  text-align: center;
  font-size: 20px;
}
table th{
  font-size: 20px;
}
table{
  margin-left: auto;
  margin-right: auto;
}

.usrInformation > p{
  font-size: 20px;
}

li{
  font-size: 20px;
}
.alert{
  color: orange;
}
